/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
}

header {
    background-color: #00009C;
    color: white;
    padding: 30px;
}

header img {
    width: 100px;
    float: left;
    margin-left: 20px;
    margin: -9px;
}

header h1 {
    margin: 0;
    font-size: 30px;
    display: inline-block;
    vertical-align: middle;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 50%;
    flex-wrap: wrap; /* Permite que os itens quebrem linha em telas menores */
}

.button-container a {
    flex: 1 1 30%; /* Ajusta a largura dos botões */
    margin: 10px; /* Espaçamento entre os botões */
}

.button-container img {
    width: 100%; /* Ajusta a largura das imagens para preencher o contêiner */
    cursor: pointer;
    transition: transform 0.5s;
}

.button-container img:hover {
    transform: scale(1.1);
}

.home-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.home-icon img {
    width: 40px;
}

/* Media Query para telas menores */
@media (max-width: 768px) {
    .button-container {
        flex-direction: column; /* Coloca os botões em coluna */
        align-items: center; /* Centraliza os botões */
    }

    .button-container a {
        flex: 1 1 100%; /* Ajusta a largura dos botões para 100% */
        margin: 5px 0; /* Espaçamento vertical entre os botões */
    }
}
